<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is a title</title>
  </head>
  <body id="log-in-back">
    <%= render 'login' %>
    <img id="logo" src="logo.jpg" border="0" alt="Withme logo">

  </body>
</html>
